{{- define "main" }}
<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Params.showReadingTime }}
    <span class="reading-time">
        {{ .ReadingTime }} min read
    </span>
    {{- end }}
    {{- if .Date }}
    <span class="post-date">
        {{ .Date | time.Format ":date_long" }}
    </span>
    {{- end }}
</header>

<article class="post-content">
    {{- partial "share-links.html" . }}
    
    {{- .Content }}
    
    {{- partial "share-links.html" . }}
</article>

{{- if not (.Params.comments | default false) }}
{{- partial "comments.html" . }}
{{- end }}

{{- partial "post_nav_links.html" . }}
{{- end }}
